@page
@model End_of_all_Hope.Views.Home.GameplayModel
@{
    ViewData["Title"] = "Popo's Stuff";
}
<div class="container-fluid">
	<div class="card" id="AdventureBox">
		<div class="card-body text-center" id="AdventureTxt">
			<img class="container-fluid" src="https://lh3.googleusercontent.com/-yLIaciITTrs/Uq0EaR0AuUI/AAAAAAAAALM/OPRV03arqSk/s630-fcrop64=1,1f38114ce063d254/MrPopo_hi.jpg">
			<p>Popo's Rules:</p>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm" id="Inventory">
					<h1>Inventory!</h1>
					@foreach (var item in ViewBag.Items)
					{
						<h2>@item</h2>
					}
				</div>
				<div class="col-sm">
					<div class="card-body text-center" id="AdventureActionsBox">
						<p>Don't touch popo's stuff</p>
					</div>
					<div class="text-center" id="AdventureButtons">
						<button type="button" class="btn btn-info" id="choice1">
							Choice 1
						</button>
						<button type="button" class="btn btn-info" id="choice2">
							Choice 2
						</button>
						<button type="button" class="btn btn-info" id="choice3">
							Choice 3
						</button>
					</div>
				</div>
				<div class="col-sm" id="Map">
					Map goes here
				</div>
			</div>
		</div>
	</div>
</div>